.container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  padding: 50px;
}

.parentContainer {
  padding: 10px 5px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.errorMessage {
  color: tomato;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.parentContainer > input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  width: 40%;
  font-weight: bold;
}

.parentContainer > input::placeholder {
  font-style: italic;
  font-weight: normal;
}

.welcome {
  margin-top: 20px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}

.welcome > div {
  width: 50%;
  margin: auto;
  text-align: justify;
}

.welcome > h2 {
  background: linear-gradient(
    to right,
    #672aeb 20%,
    #fa7000 30%,
    #0190cd 70%,
    #764ada 80%
  );
  margin-bottom: 50px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.welcome > div > h4 {
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
}

.parentContainer > div > h1 {
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, #f321ad, #ff4f4f, #bdb01f, #ee5544);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

.parentContainer > div {
  padding: 20px;
}

@keyframes textShine {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@media all and (max-width: 768px) {
  .container {
    gap: 50px;
    padding-inline: none;
  }

  .parentContainer > input {
    width: 50%;
  }

  .parentContainer > div > h1 {
    font-size: 25px;
  }

  .welcome > h2 {
    font-size: 20px;
  }

  .welcome > div {
    width: 70%;
  }
}

@media all and (max-width: 480px) {
  .container {
    width: 80%;
    padding: 30px;
  }

  .parentContainer > div > h1 {
    font-size: 20px;
  }

  .parentContainer > input {
    width: 60%;
  }

  .welcome {
    margin-top: 0;
  }

  .welcome > div {
    width: 80%;
  }

  .welcome > h2 {
    margin-bottom: 30px;
  }

  .welcome > h3 {
    font-size: 14px;
  }

  .welcome > div > h4 {
    font-size: 14px;
  }

  .errorMessage {
    font-size: 12px;
    line-height: 20px;
  }
}
