.container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
}

.parentContainer {
  padding: 10px 5px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.parentContainer > input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  width: 40%;
}

.parentContainer > input::placeholder {
  font-style: italic;
}

.welcome {
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  padding: 10px;
}

.welcome > h2 {
  background: linear-gradient(
    to right,
    #672aeb 20%,
    #fa7000 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.parentContainer > div > h1 {
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, #f321ad, #ff4f4f, #bdb01f, #ee5544);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

.parentContainer > div {
  padding: 20px;
}

@keyframes textShine {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@media all and (max-width: 768px) {
  .container {
    gap: 50px;
    padding-inline: none;
  }

  .parentContainer > input {
    width: 50%;
  }

  .parentContainer > div > h1 {
    font-size: 25px;
  }

  .welcome > h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 480px) {
  .container {
    width: 60%;
  }

  .parentContainer > div > h1 {
    font-size: 20px;
  }

  .parentContainer > input {
    width: 60%;
  }
}
